@import url(https://fonts.googleapis.com/css?family=Monda:400,700|Source+Code+Pro);
body {
	padding: 20px;
	font: 14px/1.5 'Monda', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #464646;
	font-weight: 300;
}

footer {
	font-size: 1.1em;
	color: #333;
}

#status {
	display: none;
	background-color: #FEE9CC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 64px;
	text-align: center;
	float: right;
	clear: both;
	padding-right: 4px;
	padding-left: 4px;
}

#content {
	width: 250mm;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#content table .header {
	font-size: 1.2em;
	line-height: 1.5em;
}

#content table textarea {
	font-size: 1.2em;
	min-height: 240px;
	width: 99%;
	outline: none;
}

#content table textarea:focus {
	background-color: #FFF!important;
}

#content table .edit textarea {
	background-color: #F9F9F9;
	border: none;
}

#content table .noedit textarea {
	background-color: #F2F2F2;
	border: none;
	color: #666;
}

#content h1 {
	font-size: 2.3em;
	font-family: 'Monda', Helvetica, Arial, sans-serif;
	line-height: 2.3em;
	margin: 0px;
	padding-bottom: 16px;
	color: #222;
}

#content .title {
	background-color: #080816;
	color: #97CEEC;
	display: inline;
	line-height: 48px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: inherit;
}

#content .titleLink {
	color: #97CEEC;
}

#content .titleLink:hover {
	text-shadow: 0px 0px 40px #97CEEC;
}

#content .sub {
	display: inline-block;
	background-color: #0077B5;
	padding-left: 8px;
	padding-right: 8px;
}

#content .sub a {
	color: #F0F0F0;
	font-weight: bold;
}

#content .sub a:hover {
	color: #FFF;
}

blockquote {
	border-left: 1px solid #e5e5e5;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code,
pre {
	font-family: 'Source Code Pro', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #333;
	font-size: 12px;
}

pre {
	padding: 8px 15px;
	background: #f8f8f8;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	overflow-x: auto;
}

.thumb {
	background-color: #F6F6F6;
	display: inline-block;
	width: 96px;
	height: 96px;
	border: 1px solid #F6F6F6;
	padding: 1px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}

.thumb:hover {
	background-color: #FFF;
	border: 1px solid #97CEEC;
}

.thumb img {
	display: inline-block;
	vertical-align: middle;
	max-height: 96px;
	max-width: 96px;
	border: none;
}

.thumb img:hover {}

.pagination {
	text-align: left;
	font-size: x-small;
}

.pagination a,
.current {
	border: 1px solid #E5E5E5;
	margin-right: 2px;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
}

.pagination a:hover {
	border: 1px solid #97CEEC;
}

#content a {
	text-decoration: none;
	color: #181845;
}

#content a:hover {
	color: #97CEEC;
}

.secret {
	float: right;
}

.secret a {
	background-color: #F8F8F8;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARAQMAAAABo9W5AAAAA3NCSVQICAjb4U/gAAAABlBMVEX///////9VfPVsAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAF0lEQVQImWP4/7+BARn/s8eO0eWR9AAA3FMkVwd28ikAAAAASUVORK5CYII=');
	width: 17px;
	height: 18px;
	display: inline-block;
	color: #FFF!important;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
}

.secret a:hover {
	background-color: #E93028;
}

.warning {
	display: none;
	background-color: #E93028;
	width: 200px;
	color: #FFF;
	margin-top: 18px;
	float: right;
	font-size: small;
	padding: 2px;
}

.secret a:hover .warning {
	display: inline-block;
}

.tiles a {
	background-color: #F0F0F0;
	padding: 8px;
	display: inline-block;
	margin-right: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.1);
}

.splash {
	width: 250mm;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.1);
}

#content section h1 {
	display: block;
	background-color: #02daaf;
	color: #fff;
	margin: 0;
	margin-top: 3mm;
	line-height: 32px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 8px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #01BE98;
	font-size: x-large;
}

#content blockquote {
	font-size: 12px;
	font-weight: bold;
}